* {
    background-color: #fef6e4;
}
/* Navigation bar */
.navbar {
    background-color: #fef6e4;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    z-index: 3;
}
.navbar a:hover {
    color: #f582ae;
}

.navbar a {
    background-color: #fef6e4;
    color: #001858;
    text-decoration: none;
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;
    z-index: 3;
    padding: 3px 3px;
}
/* Main Header */
h1  {
    font-family: 'Raleway', sans-serif;
    color: #001858;
    font-size: 75px;
    margin-left: 100px;
    margin-bottom: 0%;
    margin-right: 50px;
}

h2 {
    font-family: 'Raleway', sans-serif;
    color: #001858;
    font-size: 2em;
    margin-left: 100px;
    margin-top: 0%;
}
.intro {
    display: block;
    z-index: 3;
} 

/* Pink Blob and Self Picture */
.card {
    border-radius: 10%;
    z-index: 3;
    width: 410px;
    height: 500px;
    left: 1010px;
    bottom: 160px;
    padding-top: 0%;
    outline: 2px solid rgba(255, 255, 255, .5);
    outline-offset: -10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .1);
    position: relative;
    overflow: hidden;
}
.self-pic{
    outline: 2px solid rgba(255, 255, 255, .5);
    outline-offset: -10px;
    border-radius: 10%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .1);
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .75s;
}

.card:hover .self-pic {
    transform: scale(1.15);
}
 
path.blob {
    position: absolute;
    left: 600px;
    top: 800px;
    z-index: 1;
    width: 900px;
    height: 900px;
 }

svg {
    z-index: 3;
    position: absolute;
   left: 670px;
   top: 50px;
   width: 1200px;
   height: 1200px;
   background-color: transparent;
}
p {
    position: absolute;
    bottom: 400px;
    margin-left: 100px;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    color:#001858;
}