* {
    background-color: #fef6e4;
    z-index: 1;
}
/* Navigation bar */
.navbar {
    background-color: #fef6e4;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    list-style-type: none;
}
li {
    z-index: 2;
}

li a {
    background-color: fef6e4;
    color: #001858;
    text-decoration: none;
    font-weight: bolder;
    display: flex;
    font-family: 'Raleway', sans-serif;
}